@using GroupManager.Models;
@using GroupManager.Functions;
@{
    ViewBag.Title = "Quản Lý Câu Hỏi";
    var list = (List<Question>)ViewBag.List;
    Layout = "~/Views/Shared/_Header.cshtml";
    var dal = new Post_Function();
    var user_dal = new User_Function();
    var dal_group = new Group_Function();
}
<div class="right">
    <h3 class="center-heading">Quản lý câu hỏi</h3>
    <div class="_list">
        <h4 class="left-heading">Tổng số: @list.Count</h4>
        <table>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Người tạo</th>
                <th>Ngày tạo</th>
                <th>Group</th>
                <th>Hành động</th>
            </tr>
            @if (list != null)
            {
                int i = 1;
                foreach (var item in list)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@item.Title</td>
                        <td>@user_dal.GetUser((int)item.Created_By).FullName</td>
                        <td>@item.Created_Date.Value.ToString("dd/MM/yyyy")</td>
                        <td>@dal_group.Get((int)item.Group_ID).Title</td>
                        <td>
                            <a href="@Url.Action("Question", "Home", new { id = item.ID })">Chi tiết</a>
                            | <a href="@Url.Action("Edit", "Question", new { id = item.ID, return_url = Url.Action("QuestionManager","Admin")  })">Sửa</a>
                            | <a href="@Url.Action("Delete", "Question", new { id = item.ID, return_url = Url.Action("QuestionManager","Admin")  })"
                                 onclick="return confirm('Bạn có chắc chắn muốn xóa!')">Xóa</a>
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="btn-create-left">
            <li class="btn"><a href="@Url.Action("Create","Question")"><i class="fas fa-plus-square"></i> Tạo mới</a></li>
        </div>
        <ul class="paging">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
        </ul>
    </div>
</div>

