@using GroupManager.Models;
@using GroupManager.Functions;
@{
    Group g = (Group)ViewBag.Object;
    var list = (List<GroupCategory>)ViewBag.List;
    int gid = (int)ViewBag.GID;
    string url = Url.Action("GroupDetail", "Home", new { id = gid });
    if (ViewBag.return_url != "no")
    {
        url = ViewBag.return_url.ToString();
    }
    Layout = "~/Views/Shared/_Header.cshtml";
}

<script>
    $(document).ready(function () {
        $("#submit").click(function (e) {
             e.preventDefault();
                $.ajax({
                type: "POST",
                url: '@Url.Action("Edit","Group")',
                data: $('#post_form').serialize(),
                success: function (data) {
                    if (data == "True") {
                        alert("Thành công!");
                        var link = "@url";
                        window.location.href = link;
                    } else {
                        alert("Lỗi!")
                    }
                },
                error: function () {
                    alert("Sent request error !");
                }
            });
        })
    })

</script>
<div class="right">
    <h3 class="heading">Chỉnh sửa</h3>
    <div class="group_">
        <form action="" class="child_flex-c" id="post_form" method="post">
            @if (ViewBag.return_url != null)
            {
                <input name="return_url" type="hidden" value="@url" id="return_url" />
            }
            <input type="hidden" id="gid" name="gid" value="@g.ID" />
            <div>
                <label for="">Tên nhóm</label>
                <input type="text" value="@g.Title" name="title">
            </div>
            <div>
                <label for="">Chuyên mục nhóm</label>
                <select name="cate" id="cate">
                    @foreach (var item in list)
                    {

                        <option value="@item.ID" @{ if (item.ID == g.Category_ID) { <text> selected</text>}
                            }>
                            @item.Title
                        </option>

                    }
                </select>
            </div>
            <div>
                <label for="">Mô tả</label>
                <input type="text" value="@g.Desc" name="desc">
            </div>
            <div class="_btn">
                <button class="btn" id="submit">Cập nhật</button>
                <button class="btn"><a href="@Url.Action("Group","Home")">Hủy</a></button>
            </div>
        </form>
    </div>
</div>



